# fetcha

Talk to SSB using Python.

In [1]:
%load_ext blackcellmagic

In [2]:
import fetcha as fetcha
import logging
# Turn off INFO-warnings
logging.getLogger().setLevel(logging.CRITICAL)

## Installation

In [ ]:
# >> pip install git+https://github.com/dafeda/fetcha.git --upgrade

In [3]:
# Instantiate object with specific table_id that refers to a SSB-table.
# 10945 refers to Monetary aggregates M1, M2 and M3:
# https://www.ssb.no/en/statbank/table/10945
ssb_10945 = fetcha.SSB("10945", language="en")

In [4]:
# Number of rows in table.
ssb_10945.nrows_tot()

1395

In [5]:
# Number of rows per period.
ssb_10945.nrows_period()

9

In [6]:
# Get all available periods
periods = ssb_10945.periods()
periods[-7:]

['2020M05', '2020M06', '2020M07', '2020M08', '2020M09', '2020M10', '2020M11']

In [7]:
# Fetch latest period.
# Returns a pandas dataframe with its index set with verify_integrity set to True.
# If the dataframe is lacking an index, it means that the index columns do not make up a unique combination.
df_latest = ssb_10945.fetch()
df_latest.head()

                                                                value
contents                                           month
Monetary aggregate M1. Stocks (NOK million)        2020M11  2485877.0
Monetary aggregate M2. Stocks (NOK million)        2020M11  2656368.0
Monetary aggregate M3. Stocks (NOK million)        2020M11  2658168.0
Monetary aggregate M1. Transactions last 12 mon... 2020M11   300287.0
Monetary aggregate M2. Transactions last 12 mon... 2020M11   286364.0

In [8]:
# Fetch list of periods
df_periods = ssb_10945.fetch(["2019M12", "2020M01", "2020M02"])
df_periods.head()

                                                         value
contents                                    month
Monetary aggregate M1. Stocks (NOK million) 2019M12  2159770.0
                                            2020M01  2183983.0
                                            2020M02  2177656.0
Monetary aggregate M2. Stocks (NOK million) 2019M12  2345545.0
                                            2020M01  2366374.0

In [9]:
# Fetch whole year of data
df_year = ssb_10945.fetch("2020")
df_year.head()

                                                         value
contents                                    month
Monetary aggregate M1. Stocks (NOK million) 2020M01  2183983.0
                                            2020M02  2177656.0
                                            2020M03  2302575.0
                                            2020M04  2342854.0
                                            2020M05  2377047.0

In [10]:
# Fetch multiple years
df_years = ssb_10945.fetch(["2019", "2020"])
df_year.head()

                                                         value
contents                                    month
Monetary aggregate M1. Stocks (NOK million) 2020M01  2183983.0
                                            2020M02  2177656.0
                                            2020M03  2302575.0
                                            2020M04  2342854.0
                                            2020M05  2377047.0

In [11]:
# Reset index before pivoting
df_year = df_year.reset_index().pivot(index="month", columns="contents")
df_year.head()

                                                    value  \
contents Monetary aggregate M1. 12-month growth (per cent
month
2020M01                                               3.2
2020M02                                               3.3
2020M03                                               7.1
2020M04                                               9.9
2020M05                                              11.1

                                                      \
contents Monetary aggregate M1. Stocks (NOK million)
month
2020M01                                    2183983.0
2020M02                                    2177656.0
2020M03                                    2302575.0
2020M04                                    2342854.0
2020M05                                    2377047.0

                                                                           \
contents Monetary aggregate M1. Transactions last 12 months (NOK million)
month
2020M01                                             67827.0
2020M02                                             67999.0
2020M03                                            150339.0
2020M04                                            207753.0
2020M05                                            234673.0

                                                            \
contents Monetary aggregate M2. 12-month growth (per cent)
month
2020M01                                                3.9
2020M02                                                3.9
2020M03                                                7.5
2020M04                                                9.6
2020M05                                               10.3

                                                      \
contents Monetary aggregate M2. Stocks (NOK million)
month
2020M01                                    2366374.0
2020M02                                    2362458.0
2020M03                                    2491535.0
2020M04                                    2524788.0
2020M05                                    2554949.0

                                                                           \
contents Monetary aggregate M2. Transactions last 12 months (NOK million)
month
2020M01                                             89213.0
2020M02                                             88323.0
2020M03                                            172563.0
2020M04                                            218422.0
2020M05                                            236943.0

                                                            \
contents Monetary aggregate M3. 12-month growth (per cent)
month
2020M01                                                3.8
2020M02                                                3.8
2020M03                                                7.4
2020M04                                                9.5
2020M05                                               10.2

                                                      \
contents Monetary aggregate M3. Stocks (NOK million)
month
2020M01                                    2369935.0
2020M02                                    2366007.0
2020M03                                    2494933.0
2020M04                                    2528204.0
2020M05                                    2558258.0


contents Monetary aggregate M3. Transactions last 12 months (NOK million)
month
2020M01                                             86503.0
2020M02                                             85100.0
2020M03                                            169831.0
2020M04                                            216825.0
2020M05                                            234366.0

In [12]:
ssb_10948 = fetcha.SSB("10948", language="en")
df_10948 = ssb_10948.fetch("2020")

In [13]:
df_10948.head()

                                                                                     value
holding sector       contents                                           month
Money holding sector Monetary aggregate M3. Stocks, seasonally adjus... 2020M01  2375314.0
                                                                        2020M02  2390118.0
                                                                        2020M03  2501374.0
                                                                        2020M04  2546104.0
                                                                        2020M05  2582335.0

In [14]:
# Fetch and join
# Get another table so we have something to join with.
ssb_10948 = fetcha.SSB("10948", language="en")
df_10948 = ssb_10948.fetch("2020")
df_10948 = df_10948.reset_index().pivot_table(
    index="month", columns="contents", aggfunc="mean"
)

df_10948.join(df_year).head()

                                                  value  \
contents 1-month growth, seasonally adjusted (per cent)
month
2020M01                                          -10.54
2020M02                                            4.64
2020M03                                          521.06
2020M04                                           22.56
2020M05                                           14.30

                                                                           \
contents Monetary aggregate M3. Stocks, seasonally adjusted (NOK million)
month
2020M01                                            950125.6
2020M02                                            956047.2
2020M03                                           1000549.6
2020M04                                           1018441.6
2020M05                                           1032934.0

                                                                     \
contents Transactions last month, seasonally adjusted (NOK million)
month
2020M01                                             -1419.8
2020M02                                              3677.4
2020M03                                             38143.8
2020M04                                             19292.4
2020M05                                             17314.6

                                                           \
contents Monetary aggregate M1. 12-month growth (per cent
month
2020M01                                               3.2
2020M02                                               3.3
2020M03                                               7.1
2020M04                                               9.9
2020M05                                              11.1

                                                      \
contents Monetary aggregate M1. Stocks (NOK million)
month
2020M01                                    2183983.0
2020M02                                    2177656.0
2020M03                                    2302575.0
2020M04                                    2342854.0
2020M05                                    2377047.0

                                                                           \
contents Monetary aggregate M1. Transactions last 12 months (NOK million)
month
2020M01                                             67827.0
2020M02                                             67999.0
2020M03                                            150339.0
2020M04                                            207753.0
2020M05                                            234673.0

                                                            \
contents Monetary aggregate M2. 12-month growth (per cent)
month
2020M01                                                3.9
2020M02                                                3.9
2020M03                                                7.5
2020M04                                                9.6
2020M05                                               10.3

                                                      \
contents Monetary aggregate M2. Stocks (NOK million)
month
2020M01                                    2366374.0
2020M02                                    2362458.0
2020M03                                    2491535.0
2020M04                                    2524788.0
2020M05                                    2554949.0

                                                                           \
contents Monetary aggregate M2. Transactions last 12 months (NOK million)
month
2020M01                                             89213.0
2020M02                                             88323.0
2020M03                                            172563.0
2020M04                                            218422.0
2020M05                                            236943.0

                                                            \
contents Monetary aggregate M3. 12-month growth (per cent)
month
2020M01                                                3.8
2020M02                                                3.8
2020M03                                                7.4
2020M04                                                9.5
2020M05                                               10.2

                                                      \
contents Monetary aggregate M3. Stocks (NOK million)
month
2020M01                                    2369935.0
2020M02                                    2366007.0
2020M03                                    2494933.0
2020M04                                    2528204.0
2020M05                                    2558258.0


contents Monetary aggregate M3. Transactions last 12 months (NOK million)
month
2020M01                                             86503.0
2020M02                                             85100.0
2020M03                                            169831.0
2020M04                                            216825.0
2020M05                                            234366.0

In [15]:
# SSB has a limit of 300k rows per transaction.
# Some tables have more than that in one period.
ssb_10261 = fetcha.SSB("10261", language="en")

In [16]:
# Gives warning and returns None.
df_10261 = ssb_10261.fetch()

In [17]:
# Can pass filter to fetch(), but first we need to choose what we want.
# Use variable levels to see which options you have.
ssb_10261.levels

0    {'code': 'Region', 'text': 'region', 'values':...
1    {'code': 'Kjonn', 'text': 'sex', 'values': ['0...
2    {'code': 'Alder', 'text': 'age', 'values': ['9...
3    {'code': 'Diagnose3', 'text': 'diagnosis: Chap...
4    {'code': 'ContentsCode', 'text': 'contents', '...
5    {'code': 'Tid', 'text': 'year', 'values': ['20...
Name: variables, dtype: object

In [18]:
# We limit the region to "The whole country".
ssb_10261.levels.iloc[0]

{'code': 'Region',
 'text': 'region',
 'values': ['0',
  '01',
  '02',
  '03',
  '04',
  '05',
  '06',
  '07',
  '08',
  '09',
  '10',
  '11',
  '12',
  '14',
  '15',
  '50',
  '16',
  '17',
  '18',
  '19',
  '20',
  'F00',
  '9',
  'H03',
  'H04',
  'H05',
  'H12',
  'Uoppgitt'],
 'valueTexts': ['The whole country',
  'Østfold (-2019)',
  'Akershus (-2019)',
  'Oslo',
  'Hedmark (-2019)',
  'Oppland (-2019)',
  'Buskerud (-2019)',
  'Vestfold (-2019)',
  'Telemark (-2019)',
  'Aust-Agder (-2019)',
  'Vest-Agder (-2019)',
  'Rogaland',
  'Hordaland (-2019)',
  'Sogn og Fjordane (-2019)',
  'Møre og Romsdal',
  'Trøndelag - Trööndelage',
  'Sør-Trøndelag (-2017)',
  'Nord-Trøndelag (-2017)',
  'Nordland',
  'Troms - Romsa (-2019)',
  'Finnmark - Finnmárku (-2019)',
  'Total',
  'Uoppgitt',
  'Helseregion Vest',
  'Helseregion Midt-Norge',
  'Helseregion Nord',
  'Helseregion Sør-Øst',
  'Unknown'],
 'elimination': True}

In [19]:
fltr = [{"code": "Region", "values": ["0"]}]

In [20]:
df_10261 = ssb_10261.fetch(fltr=fltr)

In [21]:
df_10261.shape

(17856, 1)

In [22]:
df_10261.sample(10)

                                                                                                                                             value
region            sex        age          diagnosis: Chapter in ICD-10                       contents                                year
The whole country Females    40-59 years  Parkinson's disease                                Patients with day cases                 2019     11.0
                             Years, total Diseases of appendix                               Number of in-patient stays (discharges) 2019   3173.0
                             60-69 years  Dorsopathies                                       Number of out-patient consultations     2019   9237.0
                             0-9 years    Delivery                                           Number of out-patient consultations     2019      0.0
                  Both sexes 40-59 years  Arthrosis                                          Number of day cases                     2019   1859.0
                                          Melanoma and other malignant neoplasms of skin     Patients at general hospital, in total  2019   3276.0
                  Females    Years, total In situ neoplasms and neoplasms of uncertain or... Out-patients                            2019  11339.0
                             40-59 years  Acute myocardial infarction                        Patients at general hospital, in total  2019    440.0
                  Both sexes 20-39 years  Influenza and pneumonia                            Number of in-patient stays (discharges) 2019   1695.0
                             10-19 years  Non-infective enteritis and colitis                Number of out-patient consultations     2019   7595.0